@import url(reset.css);
@import url(border.css);

html {
  font-family: "Playfair Display", serif;
  font-size: 62.5%;
  color: #48504e;
  background: #ffc107 url(../assets/background.jpg) fixed no-repeat;
  background-size: contain;
}

.orange {
  color: #ffc107;
}

.grey {
  color: #48504e;
}

.lightGrey {
  color: #d4d4d3;
}

hgroup {
  margin-left: -25%;
  position: relative;
  display: inline-block;
}

h1 {
  font-size: 3.7rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3.5rem;
  margin: 4rem;
  display: inline-block;
  line-height: 1.3;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 3.1rem;
  position: absolute;
  right: 0;
  bottom: 5%;
}

h2,
h3 {
  color: #fff;
  background-color: #48504e;
  padding: 1.5rem;
  display: inline-block;
  margin-top: 3rem;
}

h4 {
    font-size: 2rem;
     padding: 2rem 1rem; 
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

ul {
  font-size: 2.3rem;
  line-height: 1.7;
}

footer p {
  font-size: 1.4rem;
  color: #d4d4d3;
}

strong {
  font-weight: bold;
}

em {
  background-color: rgba(255, 255, 255, 0.8);
}

.summary {
  font-size: 2.4rem;
  font-style: italic;
}

.dot {
  background-color: #48504e;
  width: 1rem;
  height: 1rem;
  margin: 3rem auto 0 auto;
  border-radius: 50%;
}

.deleted {
  text-decoration: line-through;
}

header {
    display: none;
  background: #48504e;
  color: #fff;
  height: 30rem;
  padding: 10rem;

}
nav {
    float: right;
}

nav li {
    text-align: right;
    background: url(../assets/arrow.svg) right no-repeat;
    padding-right: 4rem;
    line-height: 1.5rem;
    margin: 3rem;
}

form {
     float: left;
     width: 45rem;
}

input, textarea {
    width: 35rem;
    background: none;
    border: 2px #d4d4d3 solid;
    margin: .5rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.7rem;;
}

button {
    background: #ffc107;
    border: none;
    padding: 2rem 6em;
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-top: -1.5rem;
    margin-right: -3rem;
}

.buttonMore {
  display: inline-block;
  border: 0.1rem dashed #48504e;
  text-decoration: none;
  color: #48504e;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
}

.menu {
  background: #fff url(../assets/menu.svg) center no-repeat;
  padding: 1rem;
  height: 3.2rem;
  width: 3.2rem;
  margin: 1rem;
  position: fixed;
  right: 0;
  z-index: 3;
}


.hoverme:hover header {
    display: block;
}

section {
  width: 50%;
  min-width: 600px;
  max-width: 900px;
  position: absolute;
  right: 5%;
}

article {
  margin-bottom: 6rem;
}

figure {
  margin-left: -25%;
  margin-top: 20%;
  float: left;
}

.text {
  padding-top: 4rem;
  column-count: 2;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background: #fff;
  z-index: 2;
}

@media all and (max-width: 1666px) {
}

@media all and (max-width: 1320px) {
  html {
    background: #ffc107;
  }

  figure {
      padding: 5%;
  }

  section {
    width: 75%;
  }

  .background {
    background: url(../assets/backgroundPhoto.jpg) fixed no-repeat;
    height: 300px;
  }
}

@media all and (max-width: 768px) {

    hgroup {
        margin-left: -10%;
        position: relative;
        display: inline-block;
      }
  figure {
    display: none;
  }

  section {
    width: 90%;
    min-width: 300px;
    position: absolute;
    right: 5%;
  }

  .text {
    column-count: 1;
  }
}
